    
{% extends "auction_app/base.html" %}


{% block content %}
	<h1>{{auction.name}}</h1>
	<p>{{auction.description}}</p>
<div>
        <h2>Add an item</h2>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
	  {{ form.as_p}}
	  <input type="hidden" name="parent_id value="{{ auction.id }}">

          <button type="submit">Post</button>

        </form>

				    <div>
					{% if items %}
					    
					{% for i in items %}
					    <h1>{{i.name}}</h1>
					    <h2>{{i.price}}</h2>
{%if i.image%}
{% load static %}

					    <img src="{{i.image.url}}" alt="Item Image">
{% endif%}
					{% endfor %}
					    
					{% else %}
      					<p> No Items to show</p>
     					{% endif %}    
   
				    </div>

</div>
 {% endblock %}
