{% load static %}
<html>
  <head>
    <title>Hu$hBidz</title>
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/auction_app/">Hu$hBidz</a></h1>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/auction_app/accounts/login">Login</a></li>
        <li><a href="/auction_app/accounts/signup">Register</a></li>
      </ul>
    </div>
    <div class="content container">
      <!-- From the django girls tutorial. Not using some of their divs -->
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
