{% extends "auction_app/base.html" %}


{% block content %}
	{% if auction %}
				

		<h1>{{auction.name}}</h1>
	
		
		<div>
					    
		{% if items %}
					    
		  {% for i in items.all %}
		      {% if i.highest_bidder == 'no bids'%}
			<h2>{{i.name}}</h2>
			<h2>{{i.price}}</h2>
{%if i.image%}
{% load static %}

					    <img src="{{MEDIA_URL}}{{i.image.url}}" alt="Item Image">
{% endif%}
       			 <form method="post">
                          {% csrf_token %}
	                  {{ form.as_p}} 
<input type="hidden" name="i_id" value="{{i.id}}">         
	  		  <input type="submit"  value="Update">
         		 </form>
		      {% endif %}
		  {% endfor %}
					    
		{% else %}
      		  <p> No Items to show</p>
     		{% endif %}
					    
	 </div>
				
	{% else %}
      	<p> No Auctions to show</p>
     	{% endif %}
 
 {% endblock %}
