{% extends "auction_app/base.html" %}


{% block content %}

				
			   {%if auctions%}
				
			    {% for a in auctions %}
				<h1>{{a.name}}</h1>
			   	<h2>{{a.description}}</h2>
			   	<h2>{{a.start_time}}</h2>
			   	<h2>{{a.end_time}}</h2>


 
				    <div>
				<a href="{% url 'add_items' pk=a.pk %}">Add Items</a> 
				{% endfor %}
				
 
				    </div> 
				    <div>
				{% else %}
      				<p> No Auctions to show</p>
				
     				{% endif %}

				      <a href="{% url 'setup_auction' %}">Add Auctions</a> 
				 </div>
	{% endblock %}

