{% extends "auction_app/base.html" %}


{% block content %}

				
			   {%if auctions%}
				
			    {% for a in auctions %}
				<h1>a.name</h1>
			   	<!--h2>a.url</h2-->
			   	<div>
			       		 <!--a href="{% url 'add_items' %}">Add Items</a-->
			   		 <!--a href="{% url 'liveAuction' %}">Begin Live Auction</a-->
			  		  <!--Export Results-->
			        </div>
			
				<div>  
				    <p id="timer"></p>
				    <script> 
					var deadline = a.end_time; 
					var x = setInterval(function() { 
						var now = new Date().getTime(); 
						var t = deadline - now; 
						var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
						var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
						var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
						var seconds = Math.floor((t % (1000 * 60)) / 1000); 
						document.getElementById("timer").innerHTML = days + "d "  
						+ hours + "h " + minutes + "m " + seconds + "s "; 
				    		if (t < 0) { 
 				       			clearInterval(x); 
				        		document.getElementById("timer").innerHTML = "EXPIRED"; 
				   	 	    } 
					    }, 1000); 
					</script> 
				    </div>	
				    <div>
					    
					{% if a.items.all %}
					    
					{% for i in a.items.all %}
					    <h1>i.name</h1>
					    <h2>i.price</h2>
					    <!--add image, user#-->
					{% endfor %}
					    
					{% else %}
      					<p> No Items to show</p>
     					{% endif %}
				      <a href="{% url 'add_items' pk=a.pk %}">Add Items</a>    
				    </div>
				{% endfor %}
				
				{% else %}
      				<p> No Auctions to show</p>
				
				      <a href="{% url 'setup_auction' %}">Add Auctions</a> 
     				{% endif %}
				
	{% endblock %}

