{% load static %}

<!DOCTYPE html>
	<html lang="en"> 
		<head>     
			<meta charset="utf-8">
			<title>Hu$hBidz - Register</title>
  		</head>
  
		<body>
      <!-- Probably a header here -->
      <main>
        <h2>Register</h2>
        <form>
          Full name:</br >
          <input type="text" /><br />
          Email:</br>
          <input type="email" /><br />
          Password:</br>
          <input type="password" /><br />
          Confirm password:</br>
          <input type="password" /><br />

          <button type="submit">Register</button>
        </form>
      </main>
		</body>
		</html>
