{% extends "auction_app/base.html" %}



{% block content %}
<style>
.box{
	border: 2px solid black;
        float: left;
	width: 500px;
        margin: 25px;
        box-shadow: 3px 4px;
        border-radius: 25px; 
        background-color: rgb(77, 166, 255);       
}
.mid{
	padding-right: 12px;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        
        top: 0px; 	  
}
.bottom-box{
	padding-right: 12px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 10px;
        
        top: 0px; 	  
}
.im-right{
	float: right;
        width: 100px;
}
.box-sub{
  border: 1px solid black;
  float: left;
  margin: 0px;
  border-radius: 25px;
  background-color: white;
  width:330px;
}
.div-box{
 background-color: rgb(77, 166, 255);
}
.left{float:left;
      margin-right:5px;}
.right{float:right}

.clear{
  clear: right;
	}

.lil-left{
  margin-left:5px;
}
.done{
	color: rgb(255, 0 ,255);
}
.going{
	color: rgb(17, 226, 213);
}
</style>		
{%if items%}
  <div>
    <h1> You are currently winning the following items!</h1>
  </div>
  <div>
    <h3 class="lil-left">Total Cost: ${{tot_price|floatformat:2}}</h3>
  </div>	
  <hr/>			
  {% for i, j in items %}
    <div class ="box div-box">
      <div class="box-sub">
  	  <div class="mid">
   	    <h2>Product: {{i.name}}</h3>
   	  </div>
    	  <hr/>
   	  <div class = "bottom-box">
            <h4>Price:  ${{i.price|floatformat:2}}</h4>
            <h4>Description: {{i.description}}</h4>	
          </div>
	  <hr/>
          <div class="mid">
           {% if j < cur %}
              <h2> You Won this Item! </h2>
              <h3 id="content" class="done">Auction Ended: {{j}}</h3>  
           {% else %}
               <h4 id="content" class="going">Auction Ends: {{j}}</h4>
           {% endif %}
          </div>
     </div>
    <div class="im-right">
      <h5>Image:</h5> <img src="{{i.image}}" alt="{{i.name}}">
    </div>            
   </div> 
  {% endfor %}
{% else %}
<div>
  <h1> User is not participating in any auctions</h1>
</div>
{% endif %}	
{% endblock %}
