    
{% extends "auction_app/base.html" %}


{% block content %}
<style>
#items {
  font-size: 20px;
  border-collapse: collapse;
  width: 100%;
}
#items td, #items th {
  padding: 30px;
}
#items tr:nth-child(odd){
  background-color: #e8fcfc;
}
#items th {
  background-color: #c4eded;
  font-weight: bold;
}
#price {
  text-align: right;
}
</style>

				<div>  
				    <p id="timer">Time Remaining: </p>
				    <script>  
					var deadline = new Date("{{ auction.end_time.isoformat }}");
					var x = setInterval(function() { 
						var now = new Date().getTime(); 
						var t = deadline - now; 
						var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
						var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
						var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
						var seconds = Math.floor((t % (1000 * 60)) / 1000); 
						document.getElementById("timer").innerHTML = days + "d "  
						+ hours + "h " + minutes + "m " + seconds + "s "; 
				    		if (t < 0) { 
 				       			clearInterval(x); 
				        		document.getElementById("timer").innerHTML = "EXPIRED"; 
				   	 	    } 
					    }, 1000); 
					</script> 
				    </div>

<h1>{{auction.name}}</h1>
<p>{{auction.description}}</p>


			    <div>
				{% if items %}
				
        <table id="items">
          <tr>
            <th></th>
            <th>Item</th>
            <th>Current bid</th>
          </tr>
				{% for i in items %}
           <tr> 
{%if i.image%}
{% load static %}

					  <td>  <img src="{{ MEDIA_URL }}{{i.image.url}}" style="max-width:100%;" alt="Item Image" width="200px"></td>
{% endif%}
             <td><a href="{% url 'view_item' pk=auction.pk id=i.id %}">{{i.name}}</a></td>
             <td id="price">${{i.price}}</td>
           </tr>
				{% endfor %}
         </table>
				    
				{% else %}
     					<p> No Items to show</p>
    					{% endif %}    
  
			    </div>

 {% endblock %}
