    
{% extends "auction_app/base.html" %}


{% block content %}
	<h1>{{auction.name}}</h1>
	<p>{{auction.description}}</p>


				    <div>
					{% if items %}
					    
					{% for i in items %}
          <h1><a href="{% url 'view_item' pk=auction.pk id=i.id %}">{{i.name}}</a></h1>
					    <h2>{{i.price}}</h2>
					    <img src="{{i.image}}" alt="Item Image"/>
					{% endfor %}
					    
					{% else %}
      					<p> No Items to show</p>
     					{% endif %}    
   
				    </div>

 {% endblock %}
