{% extends "auction_app/base.html" %}

{% block content %}
				<div>  
				    <p id="timer">Time Remaining: </p>
				    <script>  
					var deadline = new Date("{{ auction.end_time.isoformat }}");
					var x = setInterval(function() { 
						var now = new Date().getTime(); 
						var t = deadline - now; 
						var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
						var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
						var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
						var seconds = Math.floor((t % (1000 * 60)) / 1000); 
						document.getElementById("timer").innerHTML = days + "d "  
						+ hours + "h " + minutes + "m " + seconds + "s "; 
				    		if (t < 0) { 
 				       			clearInterval(x); 
				        		document.getElementById("timer").innerHTML = "EXPIRED"; 
				   	 	    } 
					    }, 1000); 
					</script> 
<style>
h1 {
  background-color: #c4eded;
  text-align: center;
  width: 100%;
}
table {
  width: 100%;
}

td {
  text-align: right;
  padding-right: 40px;
}


</style>
<h1>{{item.name}}</h1>
<table>
  <tr id="iteminfo">
              <td id="itempic"><img src="{{MEDIA_URL}}{{item.image.url}}" alt="Item image"/ width="300px"></td>
    <td>Current High Bidder:<br/> {{item.highest_bidder}}</td>
    <td style="font-size: 30px; font-weight:bold;">${{item.price}}</td>
  </tr>
  <tr>
    <td>Bid on this item</td>
    <form method="post">
    {% csrf_token %}
    <td>{{ form.as_p }}</td>
    <td><input type="submit" value="Submit bid"></td>
    </form>
</table>

{{item.description}}
{% endblock %}
